In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
pd.set_option('display.max_columns', 50)

In [38]:
row_count = 50000
df = pd.DataFrame()
for chunk in pd.read_csv('IndividualsAndHouseholdsProgramValidRegistrationsV2.csv',
                 chunksize=row_count,
                 dtype=str):
    temp = chunk[[
    'incidentTypeCode',
    'disasterNumber',
    'county',
    'fips',
    'damagedStateAbbreviation',
    'ownRent',
    'rpfvl',
    'renterDamageLevel',
    ]]
    temp = temp[temp['incidentTypeCode']=='H']
    df = pd.concat([df, temp],
        ignore_index=True,
        copy=False)
    print(temp.shape, df.shape)

(0, 8) (0, 8)
(0, 8) (0, 8)
(0, 8) (0, 8)
(15662, 8) (15662, 8)
(0, 8) (15662, 8)
(13235, 8) (28897, 8)
(50000, 8) (78897, 8)
(50000, 8) (128897, 8)
(50000, 8) (178897, 8)
(4424, 8) (183321, 8)
(0, 8) (183321, 8)
(0, 8) (183321, 8)
(0, 8) (183321, 8)
(0, 8) (183321, 8)
(0, 8) (183321, 8)
(30484, 8) (213805, 8)
(50000, 8) (263805, 8)
(50000, 8) (313805, 8)
(50000, 8) (363805, 8)
(50000, 8) (413805, 8)
(39285, 8) (453090, 8)
(50000, 8) (503090, 8)
(50000, 8) (553090, 8)
(50000, 8) (603090, 8)
(50000, 8) (653090, 8)
(50000, 8) (703090, 8)
(50000, 8) (753090, 8)
(50000, 8) (803090, 8)
(50000, 8) (853090, 8)
(50000, 8) (903090, 8)
(50000, 8) (953090, 8)
(50000, 8) (1003090, 8)
(50000, 8) (1053090, 8)
(50000, 8) (1103090, 8)
(50000, 8) (1153090, 8)
(50000, 8) (1203090, 8)
(50000, 8) (1253090, 8)
(761, 8) (1253851, 8)
(0, 8) (1253851, 8)
(0, 8) (1253851, 8)
(2822, 8) (1256673, 8)
(39574, 8) (1296247, 8)
(42760, 8) (1339007, 8)
(50000, 8) (1389007, 8)
(50000, 8) (1439007, 8)
(50000, 8) (1489007, 8)
(50000, 8) (1539007, 8)
(50000, 8) (1589007, 8)
(50000, 8) (1639007, 8)
(29256, 8) (1668263, 8)
(0, 8) (1668263, 8)
(46223, 8) (1714486, 8)
(49770, 8) (1764256, 8)
(50000, 8) (1814256, 8)
(50000, 8) (1864256, 8)
(50000, 8) (1914256, 8)
(50000, 8) (1964256, 8)
(50000, 8) (2014256, 8)
(50000, 8) (2064256, 8)
(50000, 8) (2114256, 8)
(50000, 8) (2164256, 8)
(50000, 8) (2214256, 8)
(50000, 8) (2264256, 8)
(50000, 8) (2314256, 8)
(50000, 8) (2364256, 8)
(50000, 8) (2414256, 8)
(50000, 8) (2464256, 8)
(50000, 8) (2514256, 8)
(50000, 8) (2564256, 8)
(50000, 8) (2614256, 8)
(50000, 8) (2664256, 8)
(50000, 8) (2714256, 8)
(50000, 8) (2764256, 8)
(50000, 8) (2814256, 8)
(50000, 8) (2864256, 8)
(50000, 8) (2914256, 8)
(50000, 8) (2964256, 8)
(50000, 8) (3014256, 8)
(50000, 8) (3064256, 8)
(50000, 8) (3114256, 8)
(50000, 8) (3164256, 8)
(50000, 8) (3214256, 8)
(50000, 8) (3264256, 8)
(50000, 8) (3314256, 8)
(50000, 8) (3364256, 8)
(50000, 8) (3414256, 8)
(50000, 8) (3464256, 8)
(50000, 8) (3514256, 8)
(50000, 8) (3564256, 8)
(50000, 8) (3614256, 8)
(50000, 8) (3664256, 8)
(50000, 8) (3714256, 8)
(50000, 8) (3764256, 8)
(50000, 8) (3814256, 8)
(50000, 8) (3864256, 8)
(50000, 8) (3914256, 8)
(50000, 8) (3964256, 8)
(50000, 8) (4014256, 8)
(50000, 8) (4064256, 8)
(50000, 8) (4114256, 8)
(50000, 8) (4164256, 8)
(50000, 8) (4214256, 8)
(50000, 8) (4264256, 8)
(50000, 8) (4314256, 8)
(50000, 8) (4364256, 8)
(50000, 8) (4414256, 8)
(50000, 8) (4464256, 8)
(50000, 8) (4514256, 8)
(50000, 8) (4564256, 8)
(50000, 8) (4614256, 8)
(50000, 8) (4664256, 8)
(50000, 8) (4714256, 8)
(50000, 8) (4764256, 8)
(33105, 8) (4797361, 8)
(0, 8) (4797361, 8)
(0, 8) (4797361, 8)
(0, 8) (4797361, 8)
(0, 8) (4797361, 8)
(0, 8) (4797361, 8)
(0, 8) (4797361, 8)
(0, 8) (4797361, 8)
(0, 8) (4797361, 8)
(38087, 8) (4835448, 8)
(36514, 8) (4871962, 8)
(50000, 8) (4921962, 8)
(50000, 8) (4971962, 8)
(50000, 8) (5021962, 8)
(50000, 8) (5071962, 8)
(50000, 8) (5121962, 8)
(50000, 8) (5171962, 8)
(50000, 8) (5221962, 8)
(50000, 8) (5271962, 8)
(50000, 8) (5321962, 8)
(50000, 8) (5371962, 8)
(50000, 8) (5421962, 8)
(50000, 8) (5471962, 8)
(50000, 8) (5521962, 8)
(50000, 8) (5571962, 8)
(50000, 8) (5621962, 8)
(50000, 8) (5671962, 8)
(50000, 8) (5721962, 8)
(50000, 8) (5771962, 8)
(50000, 8) (5821962, 8)
(50000, 8) (5871962, 8)
(50000, 8) (5921962, 8)
(50000, 8) (5971962, 8)
(50000, 8) (6021962, 8)
(44976, 8) (6066938, 8)
(0, 8) (6066938, 8)
(0, 8) (6066938, 8)
(0, 8) (6066938, 8)
(0, 8) (6066938, 8)
(0, 8) (6066938, 8)
(0, 8) (6066938, 8)
(0, 8) (6066938, 8)
(4775, 8) (6071713, 8)
(0, 8) (6071713, 8)
(0, 8) (6071713, 8)
(0, 8) (6071713, 8)
(0, 8) (6071713, 8)
(0, 8) (6071713, 8)
(0, 8) (6071713, 8)
(0, 8) (6071713, 8)
(39604, 8) (6111317, 8)
(50000, 8) (6161317, 8)
(50000, 8) (6211317, 8)
(50000, 8) (6261317, 8)
(50000, 8) (6311317, 8)
(50000, 8) (6361317, 8)
(2770, 8) (6364087, 8)
(3740, 8) (6367827, 8)
(36755, 8) (6404582, 8)
(50000, 8) (6454582, 8)
(50000, 8) (6504582, 8)
(50000, 8) (6554582, 8)
(50000, 8) (6604582, 8)
(50000, 8) (6654582, 8)
(50000, 8) (6704582, 8)
(50000, 8) (6754582, 8)
(50000, 8) (6804582, 8)
(50000, 8) (6854582, 8)
(50000, 8) (6904582, 8)
(50000, 8) (6954582, 8)
(50000, 8) (7004582, 8)
(50000, 8) (7054582, 8)
(50000, 8) (7104582, 8)
(32753, 8) (7137335, 8)
(0, 8) (7137335, 8)
(0, 8) (7137335, 8)
(0, 8) (7137335, 8)
(0, 8) (7137335, 8)
(0, 8) (7137335, 8)
(0, 8) (7137335, 8)
(0, 8) (7137335, 8)
(0, 8) (7137335, 8)
(0, 8) (7137335, 8)
(0, 8) (7137335, 8)
(0, 8) (7137335, 8)
(0, 8) (7137335, 8)
(0, 8) (7137335, 8)
(0, 8) (7137335, 8)
(17871, 8) (7155206, 8)
(50000, 8) (7205206, 8)
(50000, 8) (7255206, 8)
(50000, 8) (7305206, 8)
(34239, 8) (7339445, 8)
(42050, 8) (7381495, 8)
(50000, 8) (7431495, 8)
(50000, 8) (7481495, 8)
(50000, 8) (7531495, 8)
(50000, 8) (7581495, 8)
(50000, 8) (7631495, 8)
(50000, 8) (7681495, 8)
(50000, 8) (7731495, 8)
(50000, 8) (7781495, 8)
(50000, 8) (7831495, 8)
(50000, 8) (7881495, 8)
(50000, 8) (7931495, 8)
(50000, 8) (7981495, 8)
(50000, 8) (8031495, 8)
(50000, 8) (8081495, 8)
(50000, 8) (8131495, 8)
(50000, 8) (8181495, 8)
(50000, 8) (8231495, 8)
(50000, 8) (8281495, 8)
(50000, 8) (8331495, 8)
(50000, 8) (8381495, 8)
(50000, 8) (8431495, 8)
(50000, 8) (8481495, 8)
(50000, 8) (8531495, 8)
(50000, 8) (8581495, 8)
(50000, 8) (8631495, 8)
(50000, 8) (8681495, 8)
(50000, 8) (8731495, 8)
(50000, 8) (8781495, 8)
(50000, 8) (8831495, 8)
(50000, 8) (8881495, 8)
(50000, 8) (8931495, 8)
(50000, 8) (8981495, 8)
(50000, 8) (9031495, 8)
(50000, 8) (9081495, 8)
(50000, 8) (9131495, 8)
(50000, 8) (9181495, 8)
(50000, 8) (9231495, 8)
(50000, 8) (9281495, 8)
(50000, 8) (9331495, 8)
(50000, 8) (9381495, 8)
(50000, 8) (9431495, 8)
(50000, 8) (9481495, 8)
(50000, 8) (9531495, 8)
(50000, 8) (9581495, 8)
(50000, 8) (9631495, 8)
(50000, 8) (9681495, 8)
(50000, 8) (9731495, 8)
(50000, 8) (9781495, 8)
(50000, 8) (9831495, 8)
(50000, 8) (9881495, 8)
(50000, 8) (9931495, 8)
(50000, 8) (9981495, 8)
(50000, 8) (10031495, 8)
(50000, 8) (10081495, 8)
(50000, 8) (10131495, 8)
(50000, 8) (10181495, 8)
(50000, 8) (10231495, 8)
(50000, 8) (10281495, 8)
(50000, 8) (10331495, 8)
(50000, 8) (10381495, 8)
(50000, 8) (10431495, 8)
(50000, 8) (10481495, 8)
(50000, 8) (10531495, 8)
(50000, 8) (10581495, 8)
(50000, 8) (10631495, 8)
(50000, 8) (10681495, 8)
(50000, 8) (10731495, 8)
(50000, 8) (10781495, 8)
(50000, 8) (10831495, 8)
(50000, 8) (10881495, 8)
(50000, 8) (10931495, 8)
(50000, 8) (10981495, 8)
(50000, 8) (11031495, 8)
(50000, 8) (11081495, 8)
(50000, 8) (11131495, 8)
(50000, 8) (11181495, 8)
(50000, 8) (11231495, 8)
(50000, 8) (11281495, 8)
(50000, 8) (11331495, 8)
(50000, 8) (11381495, 8)
(50000, 8) (11431495, 8)
(50000, 8) (11481495, 8)
(50000, 8) (11531495, 8)
(50000, 8) (11581495, 8)
(50000, 8) (11631495, 8)
(50000, 8) (11681495, 8)
(50000, 8) (11731495, 8)
(50000, 8) (11781495, 8)
(50000, 8) (11831495, 8)
(50000, 8) (11881495, 8)
(50000, 8) (11931495, 8)
(50000, 8) (11981495, 8)
(50000, 8) (12031495, 8)
(36267, 8) (12067762, 8)
(10942, 8) (12078704, 8)
(50000, 8) (12128704, 8)
(50000, 8) (12178704, 8)
(50000, 8) (12228704, 8)
(49212, 8) (12277916, 8)
(50000, 8) (12327916, 8)
(39741, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(0, 8) (12367657, 8)
(37425, 8) (12405082, 8)
(50000, 8) (12455082, 8)
(50000, 8) (12505082, 8)
(50000, 8) (12555082, 8)
(30135, 8) (12585217, 8)
(45827, 8) (12631044, 8)
(50000, 8) (12681044, 8)
(41312, 8) (12722356, 8)
(49824, 8) (12772180, 8)
(18390, 8) (12790570, 8)
(0, 8) (12790570, 8)
(0, 8) (12790570, 8)
(0, 8) (12790570, 8)
(0, 8) (12790570, 8)
(0, 8) (12790570, 8)
(0, 8) (12790570, 8)
(0, 8) (12790570, 8)
(0, 8) (12790570, 8)
(0, 8) (12790570, 8)
(0, 8) (12790570, 8)
(36837, 8) (12827407, 8)
(50000, 8) (12877407, 8)
(50000, 8) (12927407, 8)
(50000, 8) (12977407, 8)
(50000, 8) (13027407, 8)
(50000, 8) (13077407, 8)
(50000, 8) (13127407, 8)
(50000, 8) (13177407, 8)
(50000, 8) (13227407, 8)
(50000, 8) (13277407, 8)
(50000, 8) (13327407, 8)
(50000, 8) (13377407, 8)
(50000, 8) (13427407, 8)
(50000, 8) (13477407, 8)
(50000, 8) (13527407, 8)
(50000, 8) (13577407, 8)
(50000, 8) (13627407, 8)
(50000, 8) (13677407, 8)
(50000, 8) (13727407, 8)
(50000, 8) (13777407, 8)
(50000, 8) (13827407, 8)
(32729, 8) (13860136, 8)
(0, 8) (13860136, 8)
(41102, 8) (13901238, 8)
(50000, 8) (13951238, 8)
(50000, 8) (14001238, 8)
(50000, 8) (14051238, 8)
(50000, 8) (14101238, 8)
(50000, 8) (14151238, 8)
(50000, 8) (14201238, 8)
(50000, 8) (14251238, 8)
(50000, 8) (14301238, 8)
(50000, 8) (14351238, 8)
(50000, 8) (14401238, 8)
(50000, 8) (14451238, 8)
(50000, 8) (14501238, 8)
(50000, 8) (14551238, 8)
(50000, 8) (14601238, 8)
(50000, 8) (14651238, 8)
(50000, 8) (14701238, 8)
(50000, 8) (14751238, 8)
(50000, 8) (14801238, 8)
(50000, 8) (14851238, 8)
(50000, 8) (14901238, 8)
(50000, 8) (14951238, 8)
(50000, 8) (15001238, 8)
(50000, 8) (15051238, 8)
(48912, 8) (15100150, 8)
(50000, 8) (15150150, 8)
(50000, 8) (15200150, 8)
(50000, 8) (15250150, 8)
(50000, 8) (15300150, 8)
(50000, 8) (15350150, 8)
(50000, 8) (15400150, 8)
(50000, 8) (15450150, 8)
(50000, 8) (15500150, 8)
(50000, 8) (15550150, 8)
(50000, 8) (15600150, 8)
(50000, 8) (15650150, 8)
(50000, 8) (15700150, 8)
(50000, 8) (15750150, 8)
(50000, 8) (15800150, 8)
(50000, 8) (15850150, 8)
(50000, 8) (15900150, 8)
(50000, 8) (15950150, 8)
(50000, 8) (16000150, 8)
(35373, 8) (16035523, 8)
(0, 8) (16035523, 8)
(4743, 8) (16040266, 8)
(24843, 8) (16065109, 8)
(0, 8) (16065109, 8)
(0, 8) (16065109, 8)
(47301, 8) (16112410, 8)
(36293, 8) (16148703, 8)
(0, 8) (16148703, 8)
(0, 8) (16148703, 8)
(0, 8) (16148703, 8)
(0, 8) (16148703, 8)
(0, 8) (16148703, 8)
(0, 8) (16148703, 8)
(0, 8) (16148703, 8)
(0, 8) (16148703, 8)
(0, 8) (16148703, 8)
(0, 8) (16148703, 8)
(37313, 8) (16186016, 8)
(50000, 8) (16236016, 8)
(50000, 8) (16286016, 8)
(50000, 8) (16336016, 8)
(50000, 8) (16386016, 8)
(50000, 8) (16436016, 8)
(50000, 8) (16486016, 8)
(50000, 8) (16536016, 8)
(50000, 8) (16586016, 8)
(50000, 8) (16636016, 8)
(50000, 8) (16686016, 8)
(50000, 8) (16736016, 8)
(50000, 8) (16786016, 8)
(50000, 8) (16836016, 8)
(50000, 8) (16886016, 8)
(50000, 8) (16936016, 8)
(50000, 8) (16986016, 8)
(50000, 8) (17036016, 8)
(50000, 8) (17086016, 8)
(50000, 8) (17136016, 8)
(50000, 8) (17186016, 8)
(45658, 8) (17231674, 8)
(745, 8) (17232419, 8)
(45788, 8) (17278207, 8)
(0, 8) (17278207, 8)
(0, 8) (17278207, 8)
(0, 8) (17278207, 8)
(0, 8) (17278207, 8)
(0, 8) (17278207, 8)
(0, 8) (17278207, 8)
(0, 8) (17278207, 8)
(48287, 8) (17326494, 8)
(50000, 8) (17376494, 8)
(50000, 8) (17426494, 8)
(50000, 8) (17476494, 8)
(50000, 8) (17526494, 8)
(50000, 8) (17576494, 8)
(50000, 8) (17626494, 8)
(50000, 8) (17676494, 8)
(50000, 8) (17726494, 8)
(50000, 8) (17776494, 8)
(50000, 8) (17826494, 8)
(50000, 8) (17876494, 8)
(50000, 8) (17926494, 8)
(50000, 8) (17976494, 8)
(50000, 8) (18026494, 8)
(50000, 8) (18076494, 8)
(50000, 8) (18126494, 8)
(50000, 8) (18176494, 8)
(50000, 8) (18226494, 8)
(50000, 8) (18276494, 8)
(50000, 8) (18326494, 8)
(50000, 8) (18376494, 8)
(50000, 8) (18426494, 8)
(25109, 8) (18451603, 8)
(50000, 8) (18501603, 8)
(50000, 8) (18551603, 8)
(50000, 8) (18601603, 8)
(50000, 8) (18651603, 8)
(50000, 8) (18701603, 8)
(50000, 8) (18751603, 8)
(50000, 8) (18801603, 8)
(50000, 8) (18851603, 8)
(50000, 8) (18901603, 8)
(50000, 8) (18951603, 8)
(50000, 8) (19001603, 8)
(50000, 8) (19051603, 8)
(50000, 8) (19101603, 8)
(50000, 8) (19151603, 8)
(50000, 8) (19201603, 8)
(50000, 8) (19251603, 8)
(50000, 8) (19301603, 8)
(50000, 8) (19351603, 8)
(50000, 8) (19401603, 8)
(50000, 8) (19451603, 8)
(35068, 8) (19486671, 8)
(0, 8) (19486671, 8)
(0, 8) (19486671, 8)
(0, 8) (19486671, 8)
(0, 8) (19486671, 8)
(0, 8) (19486671, 8)
(0, 8) (19486671, 8)
(0, 8) (19486671, 8)

In [39]:
df.head()

,incidentTypeCode,disasterNumber,county,fips,damagedStateAbbreviation,ownRent,rpfvl,renterDamageLevel
0,H,1479,Victoria (County),NaN,TX,O,412.05,NaN
1,H,1479,Bee (County),NaN,TX,O,940.84,NaN
2,H,1479,Matagorda (County),NaN,TX,O,22724.04,NaN
3,H,1479,Calhoun (County),NaN,TX,O,0.00,NaN
4,H,1479,Victoria (County),NaN,TX,O,928.20,NaN

In [40]:
df.to_parquet('agg_renter_level.parquet')

In [41]:
df.renterDamageLevel.describe()

count     464984
unique         4
top         5530
freq      387771
Name: renterDamageLevel, dtype: object

In [42]:
df.renterDamageLevel.value_counts()

renterDamageLevel
5530    387771
5532     52319
5531     20223
5533      4671
Name: count, dtype: int64

In [43]:
df.shape

(19486671, 8)

In [44]:
df['fips'].isna().sum()

np.int64(7849379)

In [45]:
df['fips'].value_counts()

fips
48201    1087066
12086     596552
12057     528287
12103     451672
12071     347916
          ...
13135          1
13133          1
13023          1
13197          1
37035          1
Name: count, Length: 629, dtype: int64

In [46]:
df.incidentTypeCode.value_counts()

incidentTypeCode
H    19486671
Name: count, dtype: int64

In [47]:
print(df['incidentTypeCode'].isna().sum())
df['disasterNumber'].isna().sum()

0

np.int64(0)

In [48]:
len(df['disasterNumber'].unique())

99

In [49]:
df['county'] = df['county'].str.replace('(County)', '')
df['county'] = df['county'].str.replace('(Parish)', '')
df['county'] = df['county'].str.replace('.', '')
df['county'] = df['county'].str.replace('desoto', 'de soto')
df['county'] = df['county'].str.replace('dekalb', 'de kalb')
df['county'] = df['county'].str.replace('\s*\(in.*?\)', '', regex=True)
df['county'] = df['county'].str.replace('msa.*', '', regex=True)
# df['county'] = re.sub(r'\s*\(in.*?)', '', df['county'])
df['county'] = df['county'].str.strip()
df['county'] = df['county'].str.lower()

<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
/var/folders/15/mh2mgzhn1191h4zq_5d03wfc0000gn/T/ipykernel_49814/1036810952.py:6: SyntaxWarning: invalid escape sequence '\s'
  df['county'] = df['county'].str.replace('\s*\(in.*?\)', '', regex=True)

In [50]:
df['county'].value_counts()

county
harris                              1611886
jefferson                            927940
miami-dade                           800297
orleans                              643820
hillsborough                         578725
                                     ...
harley                                    1
union mills                               1
alpine beach                              1
alliance (rr name west alliance)          1
ontario                                   1
Name: count, Length: 731, dtype: int64

In [51]:
df.dtypes

incidentTypeCode            object
disasterNumber              object
county                      object
fips                        object
damagedStateAbbreviation    object
ownRent                     object
rpfvl                       object
renterDamageLevel           object
dtype: object

In [52]:
fips_df = pd.read_csv('State__County_and_City_FIPS_Reference_Table_20250531.csv',
                    dtype=str)
fips_df.head()

,State Name,County Name,City Name,State Code,State FIPS Code,County Code,StCnty FIPS Code,City Code,StCntyCity FIPS Code
0,ALABAMA,AUTAUGA,AUTAUGAVILLE,AL,01,C001,01001,0220,010010220
1,ALABAMA,AUTAUGA,BILLINGSLEY,AL,01,C001,01001,0340,010010340
2,ALABAMA,AUTAUGA,BOOTH,AL,01,C001,01001,0425,010010425
3,ALABAMA,AUTAUGA,JONES,AL,01,C001,01001,1796,010011796
4,ALABAMA,AUTAUGA,MARBURY,AL,01,C001,01001,2002,010012002

In [53]:
fips_df = fips_df[[
    'State Code',
    'County Name',
    'StCnty FIPS Code',
    ]]
fips_df = fips_df.rename(columns={
    'State Code':'damagedStateAbbreviation',
    'County Name':'county',
    'StCnty FIPS Code':'fipsCode'
})
fips_df['county'] = fips_df['county'].str.lower()
fips_df = fips_df.drop_duplicates()
fips_df.head()

   damagedStateAbbreviation   county fipsCode
0                        AL  autauga    01001
6                        AL  baldwin    01003
30                       AL  barbour    01005
38                       AL     bibb    01007
47                       AL   blount    01009

In [54]:
combined_df = pd.merge(df,
                       fips_df,
                       on=['damagedStateAbbreviation', 'county'],
                       how='left')
print(df.shape, combined_df.shape)

(19486671, 8) (19488406, 9)

In [55]:
combined_df['fipsCode'] = np.where((combined_df['fipsCode'].isna())&(combined_df['fips'].notna()),
                                   combined_df['fips'],
                                   combined_df['fipsCode'])
combined_df['fipsCode'] = np.where((combined_df['fipsCode'].isna())&(
    combined_df['damagedStateAbbreviation']=='DC'),
                                   '11001',
                                   combined_df['fipsCode'])

In [56]:
combined_df['fipsCode'].isna().sum()

np.int64(1321730)

In [57]:
combined_df[(combined_df['fipsCode'].isna())&(
    combined_df['damagedStateAbbreviation']=='GA'
)]

,incidentTypeCode,disasterNumber,county,fips,damagedStateAbbreviation,ownRent,rpfvl,renterDamageLevel,fipsCode
1263285,H,1554,dekalb,NaN,GA,O,1053.06,NaN,NaN
1263294,H,1554,dekalb,NaN,GA,O,5100.00,NaN,NaN
1263295,H,1554,dekalb,NaN,GA,O,0.00,NaN,NaN
1263299,H,1554,dekalb,NaN,GA,O,0.00,NaN,NaN
1263300,H,1554,dekalb,NaN,GA,O,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1265928,H,1554,dekalb,NaN,GA,R,0.00,NaN,NaN
1265931,H,1554,dekalb,NaN,GA,O,1275.00,NaN,NaN
1265936,H,1554,dekalb,NaN,GA,R,0.00,NaN,NaN
1265937,H,1554,dekalb,NaN,GA,O,567.87,NaN,NaN
1265946,H,1554,dekalb,NaN,GA,O,0.00,NaN,NaN

In [58]:
combined_df[combined_df['fipsCode'].isna()].sample(20)

,incidentTypeCode,disasterNumber,county,fips,damagedStateAbbreviation,ownRent,rpfvl,renterDamageLevel,fipsCode
14818472,H,4671,ponce (municipio),NaN,PR,O,3115.91,NaN,NaN
14044611,H,4671,barceloneta (municipio),NaN,PR,O,0.00,NaN,NaN
14921268,H,4671,vega baja (municipio),NaN,PR,O,0.00,NaN,NaN
14289611,H,4671,arecibo (municipio),NaN,PR,R,0.00,NaN,NaN
15010912,H,4671,vega alta (municipio),NaN,PR,R,0.00,NaN,NaN
14927545,H,4671,san juan (municipio),NaN,PR,R,0.00,NaN,NaN
15028321,H,4671,bayamon (municipio),NaN,PR,R,0.00,NaN,NaN
14327175,H,4671,loiza (municipio),NaN,PR,O,0.00,NaN,NaN
13985980,H,4671,toa alta (municipio),NaN,PR,O,0.00,NaN,NaN
1263874,H,1554,dekalb,NaN,GA,O,2550.00,NaN,NaN
14843044,H,4671,carolina (municipio),NaN,PR,O,0.00,NaN,NaN
14284196,H,4671,bayamon (municipio),NaN,PR,O,0.00,NaN,NaN
14148928,H,4671,san lorenzo (municipio),NaN,PR,R,0.00,NaN,NaN
13950402,H,4671,humacao (municipio),NaN,PR,O,0.00,NaN,NaN
14834898,H,4671,bayamon (municipio),NaN,PR,R,0.00,NaN,NaN
14871735,H,4671,trujillo alto (municipio),NaN,PR,O,0.00,NaN,NaN
14502117,H,4671,aguadilla (municipio),NaN,PR,R,0.00,NaN,NaN
14598698,H,4671,san juan (municipio),NaN,PR,R,0.00,NaN,NaN
14170811,H,4671,guaynabo (municipio),NaN,PR,O,0.00,NaN,NaN
14658210,H,4671,toa baja (municipio),NaN,PR,O,0.00,NaN,NaN

In [59]:
combined_df.head()

,incidentTypeCode,disasterNumber,county,fips,damagedStateAbbreviation,ownRent,rpfvl,renterDamageLevel,fipsCode
0,H,1479,victoria,NaN,TX,O,412.05,NaN,48469
1,H,1479,bee,NaN,TX,O,940.84,NaN,48025
2,H,1479,matagorda,NaN,TX,O,22724.04,NaN,48321
3,H,1479,calhoun,NaN,TX,O,0.00,NaN,48057
4,H,1479,victoria,NaN,TX,O,928.20,NaN,48469

In [60]:
combined_df['disasterNumber'].value_counts()

disasterNumber
4337    2627039
4671    1239103
4339    1120768
4798    1082971
1603    1076989
         ...
1494        667
4089        592
4026        513
4844         30
1495          1
Name: count, Length: 99, dtype: int64

In [61]:
combined_df['rpfvl'] = combined_df['rpfvl'].astype(float)

In [62]:
combined_df[combined_df['rpfvl']>=20000].head(20)

,incidentTypeCode,disasterNumber,county,fips,damagedStateAbbreviation,ownRent,rpfvl,renterDamageLevel,fipsCode
2,H,1479,matagorda,NaN,TX,O,22724.04,NaN,48321
163,H,1479,galveston,NaN,TX,O,38771.78,NaN,48167
2132,H,1479,galveston,NaN,TX,O,38418.83,NaN,48167
2395,H,1479,galveston,NaN,TX,O,39688.83,NaN,48167
5551,H,1479,brazoria,NaN,TX,O,20757.67,NaN,48039
15795,H,1490,carteret,NaN,NC,O,24338.78,NaN,37031
15820,H,1490,carteret,NaN,NC,O,21252.72,NaN,37031
15830,H,1490,beaufort,NaN,NC,O,26375.25,NaN,37013
15887,H,1490,chowan,NaN,NC,O,20446.60,NaN,37041
15932,H,1490,chowan,NaN,NC,O,29242.83,NaN,37041
16170,H,1490,chowan,NaN,NC,O,26187.84,NaN,37041
16274,H,1490,carteret,NaN,NC,O,21740.21,NaN,37031
17089,H,1490,washington,NaN,NC,O,24506.40,NaN,37187
17446,H,1490,pamlico,NaN,NC,O,20477.29,NaN,37137
17694,H,1490,pasquotank,NaN,NC,O,20867.95,NaN,37139
18627,H,1490,carteret,NaN,NC,O,24504.62,NaN,37031
18665,H,1490,chowan,NaN,NC,O,25818.72,NaN,37041
18747,H,1490,carteret,NaN,NC,O,22130.76,NaN,37031
18861,H,1490,pamlico,NaN,NC,O,25995.99,NaN,37137
18974,H,1490,craven,NaN,NC,O,28129.32,NaN,37049

In [63]:
combined_df['majorDamageGeneral'] = np.where(combined_df['rpfvl']>=20000,
                                             1,
                                             0)
combined_df['majorDamageOwn'] = np.where((combined_df['rpfvl']>=20000)&(combined_df['ownRent']=='O'),
                                             1,
                                             0)
combined_df['majorDamageRent'] = np.where((combined_df['rpfvl']>=20000)&(combined_df['ownRent']=='R'),
                                             1,
                                             0)
combined_df['validReg_own'] = np.where((combined_df['ownRent']=='O'),
                                             1,
                                             0)
combined_df['validReg_rent'] = np.where((combined_df['ownRent']=='R'),
                                             1,
                                             0)
combined_df.sample(20)

,incidentTypeCode,disasterNumber,county,fips,damagedStateAbbreviation,ownRent,rpfvl,renterDamageLevel,fipsCode,majorDamageGeneral,majorDamageOwn,majorDamageRent,validReg_own,validReg_rent
17219054,H,4798,harris,48201,TX,R,0.00,NaN,48201,0,0,0,0,1
14424294,H,4671,quebradillas (municipio),NaN,PR,O,0.00,NaN,NaN,0,0,0,1,0
7629100,H,4332,tyler,48457,TX,O,0.00,NaN,48457,0,0,0,1,0
8489976,H,4337,hillsborough,12057,FL,O,0.00,NaN,12057,0,0,0,1,0
14868958,H,4671,ponce (municipio),NaN,PR,O,0.00,NaN,NaN,0,0,0,1,0
16272653,H,4798,montgomery,NaN,TX,O,0.00,NaN,48339,0,0,0,1,0
15491180,H,4673,pinellas,12103,FL,R,0.00,NaN,12103,0,0,0,0,1
2282714,H,1603,st bernard,NaN,LA,R,0.00,NaN,22087,0,0,0,0,1
1074751,H,1549,mobile,NaN,AL,O,887.08,NaN,01097,0,0,0,1,0
6266619,H,4021,essex,34013,NJ,O,834.92,NaN,34013,0,0,0,1,0
1320271,H,1561,citrus,NaN,FL,O,0.00,NaN,12017,0,0,0,1,0
649828,H,1545,palm beach,NaN,FL,O,826.62,NaN,12099,0,0,0,1,0
17692152,H,4829,anderson,45007,SC,O,0.00,NaN,45007,0,0,0,1,0
3174166,H,1604,harrison,NaN,MS,R,38925.00,NaN,28047,1,0,1,0,1
17006955,H,4798,harris,48201,TX,O,0.00,NaN,48201,0,0,0,1,0
8619404,H,4337,volusia,12127,FL,O,0.00,NaN,12127,0,0,0,1,0
15934673,H,4673,lee,12071,FL,O,17541.88,NaN,12071,0,0,0,1,0
2859386,H,1604,covington,NaN,MS,O,0.00,NaN,28031,0,0,0,1,0
14964826,H,4671,ponce (municipio),NaN,PR,O,0.00,NaN,NaN,0,0,0,1,0
15888101,H,4673,orange,12095,FL,R,0.00,NaN,12095,0,0,0,0,1

In [64]:
combined_df = pd.get_dummies(combined_df,
               columns=['renterDamageLevel'],
               dtype=int)

In [65]:
combined_df.head()

,incidentTypeCode,disasterNumber,county,fips,damagedStateAbbreviation,ownRent,rpfvl,fipsCode,majorDamageGeneral,majorDamageOwn,majorDamageRent,validReg_own,validReg_rent,renterDamageLevel_5530,renterDamageLevel_5531,renterDamageLevel_5532,renterDamageLevel_5533
0,H,1479,victoria,NaN,TX,O,412.05,48469,0,0,0,1,0,0,0,0,0
1,H,1479,bee,NaN,TX,O,940.84,48025,0,0,0,1,0,0,0,0,0
2,H,1479,matagorda,NaN,TX,O,22724.04,48321,1,1,0,1,0,0,0,0,0
3,H,1479,calhoun,NaN,TX,O,0.00,48057,0,0,0,1,0,0,0,0,0
4,H,1479,victoria,NaN,TX,O,928.20,48469,0,0,0,1,0,0,0,0,0

In [66]:
combined_df.to_parquet('agg_combined_fips_renter_level.parquet')

In [67]:
combined_df_agg = combined_df.groupby([
        'incidentTypeCode',
        'disasterNumber',
        'damagedStateAbbreviation',
        'county',
        'fipsCode',
    ],
        dropna=False).agg(
            total_count = ('majorDamageGeneral', 'count'),
            validReg_own = ('validReg_own', 'sum'),
            validReg_rent = ('validReg_rent', 'sum'),
            majorDamageGeneral_total = ('majorDamageGeneral', 'sum'),
            majorDamageOwn_total = ('majorDamageOwn', 'sum'),
            majorDamageRent_total = ('majorDamageRent', 'sum'),
            renterDamageLevel_5530_total = ('renterDamageLevel_5530', 'sum'),
            renterDamageLevel_5531_total = ('renterDamageLevel_5531', 'sum'),
            renterDamageLevel_5532_total = ('renterDamageLevel_5532', 'sum'),
            renterDamageLevel_5533_total = ('renterDamageLevel_5533', 'sum'),
        ).reset_index()
combined_df_agg.sample(30)

,incidentTypeCode,disasterNumber,damagedStateAbbreviation,county,fipsCode,total_count,validReg_own,validReg_rent,majorDamageGeneral_total,majorDamageOwn_total,majorDamageRent_total,renterDamageLevel_5530_total,renterDamageLevel_5531_total,renterDamageLevel_5532_total,renterDamageLevel_5533_total
224,H,1539,FL,volusia,12127,28541,22300,4491,38,37,1,0,0,0,0
453,H,1553,NC,rockingham,37157,19,19,0,1,1,0,0,0,0,0
373,H,1549,AL,talladega,01121,96,83,9,1,1,0,0,0,0,0
1854,H,4394,SC,marlboro,45069,1711,1366,335,2,2,0,52,0,2,0
1444,H,4332,LA,evangeline,22039,1,0,1,0,0,0,0,0,0,0
2161,H,4671,PR,juana diaz (municipio),72057,1,0,1,0,0,0,0,0,0,0
1872,H,4400,GA,decatur,13087,4417,2927,1465,12,12,0,172,0,40,5
2171,H,4671,PR,lajas (municipio),72097,1,0,1,0,0,0,0,0,0,0
895,H,1609,FL,collier,12021,15760,12578,2742,53,34,19,0,0,0,0
1223,H,4025,PA,wyoming,42131,234,205,28,11,11,0,0,0,0,0
138,H,1491,VA,northumberland,51133,629,497,72,2,2,0,0,0,0,0
2593,H,4675,FL,tampa reservation,12063,4,1,3,0,0,0,0,0,0,0
1102,H,4019,NC,bertie,37015,789,562,223,5,5,0,0,0,0,0
2428,H,4675,FL,brighton indian reservation,12113,1,1,0,0,0,0,0,0,0,0
2458,H,4675,FL,fort pierce indian reservation,12085,1,1,0,0,0,0,0,0,0,0
995,H,1791,TX,smith,48423,201,154,38,1,1,0,0,0,0,0
1780,H,4341,FL,big cypress indian reservation,12071,6,0,6,0,0,0,0,0,0,0
1645,H,4339,PR,corozal (municipio),NaN,614,507,105,10,10,0,10,0,4,0
151,H,1491,VA,richmond,51159,5053,3125,1559,2,2,0,0,0,0,0
2031,H,4629,CT,mashantucket pequot indian reservation,09003,2,0,2,0,0,0,0,0,0,0
2269,H,4671,PR,toa baja (municipio),72021,1,0,1,0,0,0,0,0,0,0
1414,H,4286,SC,bamberg,45009,227,191,33,3,3,0,3,0,2,0
2961,H,4834,FL,okeechobee,12093,1486,967,515,3,3,0,25,0,0,2
1385,H,4285,NC,hyde,37095,194,136,55,0,0,0,7,0,0,0
532,H,1557,PA,washington,42125,1303,906,208,18,18,0,0,0,0,0
1002,H,1792,LA,allen,22003,194,135,56,1,0,1,0,0,0,0
980,H,1791,TX,jasper,48241,5387,3724,1625,21,21,0,0,0,0,0
1857,H,4399,FL,franklin,12037,1716,1245,454,15,15,0,58,0,2,1
2369,H,4675,FL,big cypress indian reservation,12083,2,1,1,0,0,0,0,0,0,0
2843,H,4830,GA,montgomery,13209,2603,1841,758,14,14,0,105,0,2,1

In [ ]:
combined_df_agg.shape

(2988, 15)

In [69]:
combined_df_agg.to_parquet('combined_df_agg_v2.parquet')

In [70]:
len(combined_df_agg['disasterNumber'].unique())

99

In [71]:
combined_df_agg[combined_df_agg['disasterNumber']=='1791']

,incidentTypeCode,disasterNumber,damagedStateAbbreviation,county,fipsCode,total_count,validReg_own,validReg_rent,majorDamageGeneral_total,majorDamageOwn_total,majorDamageRent_total,renterDamageLevel_5530_total,renterDamageLevel_5531_total,renterDamageLevel_5532_total,renterDamageLevel_5533_total
967,H,1791,TX,angelina,48005,4456,3231,1172,10,6,4,0,0,0,0
968,H,1791,TX,austin,48015,111,63,47,1,1,0,0,0,0,0
969,H,1791,TX,brazoria,48039,37956,26279,11357,187,143,44,0,0,0,0
970,H,1791,TX,chambers,48071,8009,6214,1703,508,353,155,0,0,0,0
971,H,1791,TX,cherokee,48073,1146,892,238,11,7,4,0,0,0,0
972,H,1791,TX,fort bend,48157,27502,20485,6858,31,26,5,0,0,0,0
973,H,1791,TX,galveston,48167,72214,39383,31810,6593,4727,1865,0,0,0,0
974,H,1791,TX,gregg,48183,270,205,57,0,0,0,0,0,0,0
975,H,1791,TX,grimes,48185,1401,918,475,8,8,0,0,0,0,0
976,H,1791,TX,hardin,48199,11746,8548,3136,71,57,14,0,0,0,0
977,H,1791,TX,harris,48201,378364,201590,172819,2024,1468,555,0,0,0,0
978,H,1791,TX,harrison,48203,260,200,55,7,6,1,0,0,0,0
979,H,1791,TX,houston,48225,1662,950,692,5,3,2,0,0,0,0
980,H,1791,TX,jasper,48241,5387,3724,1625,21,21,0,0,0,0,0
981,H,1791,TX,jefferson,48245,78419,42416,35541,605,450,155,0,0,0,0
982,H,1791,TX,liberty,48291,14406,10423,3858,217,170,47,0,0,0,0
983,H,1791,TX,madison,48313,709,429,272,0,0,0,0,0,0,0
984,H,1791,TX,matagorda,48321,591,362,220,2,1,1,0,0,0,0
985,H,1791,TX,montgomery,48339,36466,25649,10532,198,137,61,0,0,0,0
986,H,1791,TX,nacogdoches,48347,2615,1729,848,12,7,5,0,0,0,0
987,H,1791,TX,newton,48351,2182,1577,590,4,3,1,0,0,0,0
988,H,1791,TX,orange,48361,26899,17563,9107,2925,2489,436,0,0,0,0
989,H,1791,TX,polk,48373,5708,4206,1416,60,46,14,0,0,0,0
990,H,1791,TX,rusk,48401,392,317,71,4,3,1,0,0,0,0
991,H,1791,TX,sabine,48403,411,306,102,1,1,0,0,0,0,0
992,H,1791,TX,san augustine,48405,267,194,72,1,1,0,0,0,0,0
993,H,1791,TX,san jacinto,48407,3220,2494,687,20,17,3,0,0,0,0
994,H,1791,TX,shelby,48419,196,149,39,0,0,0,0,0,0,0
995,H,1791,TX,smith,48423,201,154,38,1,1,0,0,0,0,0
996,H,1791,TX,trinity,48455,1733,1305,402,4,2,2,0,0,0,0
997,H,1791,TX,tyler,48457,3405,2655,729,24,21,3,0,0,0,0
998,H,1791,TX,walker,48471,3667,1989,1649,10,9,1,0,0,0,0
999,H,1791,TX,waller,48473,648,432,201,5,3,2,0,0,0,0
1000,H,1791,TX,washington,48477,113,74,36,0,0,0,0,0,0,0

In [72]:
combined_df_agg['damagedStateAbbreviation'].value_counts()

damagedStateAbbreviation
FL    821
PR    539
LA    272
NC    236
TX    198
SC    141
GA    134
MS    133
VA    107
AL    106
PA     77
NJ     55
NY     55
CT     34
MD     26
VT     13
VI     10
AS      5
DE      4
RI      3
MA      3
GU      2
MO      2
WV      2
NH      2
OK      1
DC      1
TN      1
AR      1
KY      1
IL      1
MI      1
OH      1
Name: count, dtype: int64

In [73]:
top_10 = ['TX', 'FL', 'SC', 'PR', 'MS', 'NC', 'LA', 'AL', 'GA', 'VA']
combined_df_agg[combined_df_agg['damagedStateAbbreviation'].isin(top_10)]['disasterNumber'].value_counts()

disasterNumber
4675    279
4671    261
4339    172
4834    112
1491    101
       ...
1593      4
4563      4
1780      3
4677      3
1493      1
Name: count, Length: 75, dtype: int64

In [74]:
combined_df_agg[combined_df_agg['damagedStateAbbreviation'].isin(top_10)].shape

(2687, 15)

In [80]:
combined_df_agg[(combined_df_agg['damagedStateAbbreviation'].isin(top_10))&(
    combined_df_agg['disasterNumber']=='4671'
)]

,incidentTypeCode,disasterNumber,damagedStateAbbreviation,county,fipsCode,total_count,validReg_own,validReg_rent,majorDamageGeneral_total,majorDamageOwn_total,majorDamageRent_total,renterDamageLevel_5530_total,renterDamageLevel_5531_total,renterDamageLevel_5532_total,renterDamageLevel_5533_total
2044,H,4671,PR,adjuntas (municipio),72001,461,280,181,0,0,0,0,0,0,0
2045,H,4671,PR,adjuntas (municipio),72113,1,1,0,0,0,0,0,0,0,0
2046,H,4671,PR,adjuntas (municipio),NaN,6466,4291,2169,1,1,0,17,0,0,0
2047,H,4671,PR,aguada (municipio),72003,531,349,182,0,0,0,0,0,0,0
2048,H,4671,PR,aguada (municipio),NaN,14280,10445,3831,0,0,0,35,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2300,H,4671,PR,yabucoa (municipio),NaN,12383,9258,3115,0,0,0,59,0,2,0
2301,H,4671,PR,yauco (municipio),72059,1,0,1,0,0,0,0,0,0,0
2302,H,4671,PR,yauco (municipio),72127,1,1,0,0,0,0,0,0,0,0
2303,H,4671,PR,yauco (municipio),72153,618,426,191,0,0,0,3,0,0,0
2304,H,4671,PR,yauco (municipio),NaN,13443,9885,3548,2,2,0,36,0,3,0